body {
    font-family: helvetica, Arial, sans-serif;
    background-color: white;
}
header {
    background-color: rgba(249, 192, 22, 0.63);
    width: 100%;
    display: flex;
    align-items:center;
}
header p {
    transform: rotate(-3deg); 
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: blue;
}
/* NAVIGATION BAR CSS */
nav {
    overflow: hidden;
    background-color: black;
}
nav a {
    color: white;
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}
nav a.active {
    background-color: yellow;
    color: black;
  }
nav a:hover {
    background-color: yellow;
    color: black;
}
nav .icon {
    display: none;
}
#logo {
    position: relative;
    transform: rotate(-15deg)
}
/* END NAVIGATION CSS */


/* MEDIA QUERIES 
------------------------------------ */
/* Devices smaller the 400px */
@media only screen and (max-width: 400px) {
    #wrapper {
        width: 100%;
    }
    header p {
        font-size: 150%;
    }
    #logo {
        width: 12%;
        left: 10%;
        bottom: 10px;
    }
}
/*  GalaxyS8 Portrait Mode : 412x718 */
@media only screen and (min-width: 400px) {
    header p {
        font-size: 150%;
    }
    #logo {
        width: 12%;
        left: 15%;
        bottom: 10px;
    }
}
@media only screen and (min-width: 500px) {
    header p {
        font-size: 200%;
    }
    #logo {
        width: 12%;
        left: 12%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header p {
        font-size: 250%;
    }
    #logo {
        width: 12%;
        left: 11%;
    }
    nav a {
        padding: 0% 6.4%;
    }
}
/* Medium devices (landscape tablets, 768px and up) 
Galaxy S8+ Landscape: 798px X 332px
Microsoft Surface Portrait: 912px X 1225px */
@media screen and (min-width: 768px) { 
    header p { 
        font-size: 300%;
    }
    #logo {
        width: 11%;
        left: 13%;
    }
    nav a {
        padding: 0% 7.7%;
    }
}
@media only screen and (min-width: 992px) {
    header p {
        font-size: 350%;
    }
    #logo {
        width: 10%;
        left: 16%;
    }
    nav a {
        padding: 0% 8.8%;
    }
}
/* Microsoft Surface Landscape: 1368px X 769px */
@media only screen and (min-width: 1200px) {
    header p {
        font-size: 400%;
    }
    #logo {
        width: 9%;
        left: 19%;
    }
    nav a {
        padding: 0% 9.4%;
    }
}
@media only screen and (min-width: 1400px) {
    header p {
        font-size: 450%;
    }
    #logo {
        width: 9%;
        left: 19%;
    }
    nav a {
        padding: 0% 9.9%;
    }
}
/* Extra large devices (large laptops and desktops, 1500px and up)
ASUS Laptop ROG Zephyrus M15 Viewport : 1536x721px  */
@media only screen and (min-width: 1500px) {
    header p {
        font-size: 450%;
    }
    #logo {
        width: 9%;
        left: 21%;
    }
    nav a {
        padding: 0% 10%;
    } 
}