body {
    font-family: helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: white;
}

header {
    background-color: rgba(249, 192, 22, 0.63);
    width: 100%;
    display: flex;
    align-items:center;
}

header p {
    transform: rotate(-3deg); 
    width: 100%;
    height: 50px; 
    font-size: 500%;
    font-weight: bold;
    text-align: center;
    color: blue;
}

/* NAVIGATION BAR CSS */
nav {
    overflow: hidden;
    background-color: black;
    /* top: 0; */
    position: relative;
    bottom: 70px;
}
nav a {
    color: white;
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.4% 10%;
}
nav a.active {
    background-color: yellow;
    color: black;
  }
nav a:hover {
    background-color: yellow;
    color: black;
}
nav .icon {
    display: none;
}

#logo {
    position: relative;
    left: 19em;
    bottom: 2.5em;
    transform: rotate(-15deg)
}
/* END NAVIGATION CSS */


/* MEDIA QUERIES 
-------------- */
/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    #wrapper {
        width: 100%;
    }
    header p {
        font-size: 200%;
        position: relative;
        right: 3%;
        top: 10px;
    }
    #logo {
        width: 14%;
        left: 4%;
        bottom: 28px;
    }
    nav {
        bottom: 25px;
        display: block;
        overflow: hidden;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    header p {
        font-size: 250%;
    }
    #logo {
        width: 12%;
        left: 12%;
        bottom: 1.9em;
    }
    nav {
        bottom: 45px;
        display: block;
        overflow: hidden;
    }
    nav a {
        float: left;
        display: block;
        text-align: center;
        padding: 0% 6%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) { 
  
    #logo {
        width: 11%;
        left: 5%;
        bottom: 2.2em;
    }
    header p { 
        padding: 0 15% 0 0;
        font-size: 300%;
    }
    nav {
        bottom: 50px;
    }
    nav a {
        padding: 0% 7%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #logo {
        width: 9%;
        left: 9%;
        bottom: 2.4em;
    }
    header p {
        font-size: 350%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #logo {
        width: 9%;
        left: 11%;
        bottom: 2.1em;
    }
    header p {
        font-size: 400%;
    }
    nav a {
        padding: 0% 9%;
    }
}
@media only screen and (min-width: 1400px) {
    #logo {
        width: 9%;
        left: 12%;
    }
    header p {
        font-size: 450%;
    }
}