/* ADVOCACY CAMPAIGNS SECTION 
--------------------------------------------------- */
h1 {
    color: rgb(0, 0, 0);
}
.advocacyCampaigns { 
    padding: 2%;
}
/*  LATEST NEWS 
--------------------------------------------------- */
img, figcaption{
    width: 100%;
}
figcaption a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
figcaption a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

/* MEDIA QUERIES 
--------------------------------------------------------------------- */
/* Devices smaller the 400px */
@media only screen and (max-width: 400px) {
    .introSection figure{
        width: 100%;
        margin: 0%;
    }
    .mainTitle {
        width: 50%;
        font-size: 100%;
        bottom: 200px;
    }
    .subtitle {
        width: 60%;
        font-size: 80%;
        left: 5%;
        bottom: 120px;
    }
/* advocacy campaigns */
    h1 {
        font-size: 160%;
    }
/* latest news */
    .row {
        display: flex;
        flex-direction: column;
    }

}
/*  GalaxyS8 Portrait Mode : 412x718 */
@media only screen and (min-width: 400px) {
    .mainTitle {
        width: 70%;
        font-size: 160%;
        bottom: 200px;
    }
    .subtitle {
        width: 76%;
        font-size: 120%;
        padding: 1%;
        left: 7%;
        bottom: 125px;
    }
/* advocacy campaigns */
/* latest news */
    .row {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 500px) {
    figure.column {
        margin: 0%;
    }
}
@media only screen and (min-width: 500px) {
    #mainTitle{
        width: 50%;
    }
    .subtitle {
        width: 65%;
    }
    figcaption {
        font-size: 16px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mainTitle {
        width: 50%;
        font-size: 160%;
    }
    .subtitle {
        width: 50%;
        font-size: 120%;
    }
    p {
        line-height: 30px;
    }
    .row {        
        display: block;
    }
    .story {
        width: 30%;
        float: left;
    }
}
/* Medium devices (landscape tablets, 768px and up) 
Galaxy S8+ Landscape: 798px X 332px
Microsoft Surface Portrait: 912px X 1225px */
@media screen and (min-width: 768px) { 
    .mainTitle {
        width: 35%;
        font-size: 170%;
        bottom: 205px;
    }
    .subtitle {
        width: 45%;
        font-size: 120%;

    }
/* advocacy campaigns */
    .advocacyCampaigns {
        display: flex;
    }
    .column  {
        width: 50%;
    }
/* latest news */
    .story {
        width: 35%;
    }
}
/* Medium devices (landscape tablets, 944px and up .. 912px is portrait for the surface) */
@media only screen and (min-width: 944px) {
    .mainTitle {
        width: 35%;
        font-size: 200%;
        bottom: 210px;
    }
    .subtitle {
        width: 40%;
        font-size: 130%;
    }
/* -----campaign----- */
    p {
        font-size: 18px;
    }
/* -----latest news----- */
    .story {
        width: 35%;
    }
}
/* Microsoft Surface Landscape: 1368px X 769px */
@media only screen and (min-width: 1200px) {
    .mainTitle {
        width: 32%;
        font-size: 220%;
        bottom: 215px;
    }
    .subtitle {
        width: 35%;
        font-size: 140%;
    }
    p {
        font-size: 20px;
    }
    .story {
        width: 16%;
    }
}
@media only screen and (min-width: 1400px) {
    .mainTitle {
        width: 30%;
        font-size: 280%;
    }
    .subtitle {
        width: 35%;
        font-size: 180%;
    }
    h1 {
        font-size: 180%;
    }
    .story {
        width: 17%;
    }
}
/* Extra large devices (large laptops and desktops, 1500px and up) 
ASUS Laptop ROG Zephyrus M15 Viewport : 1536x721px  */
@media only screen and (min-width: 1500px) {
    .story {
        width: 18%;
    }
}