/* ADVOCACY CAMPAIGNS SECTION 
--------------------------------------------------- */
.advocacyCampaigns { 
    padding: 2%;
}
/*  LATEST NEWS 
--------------------------------------------------- */
figcaption a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
figcaption a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

/* MEDIA QUERIES 
--------------------------------------------------------------------- */
/* Devices smaller the 400px */
@media only screen and (max-width: 400px) {
    .mainTitle {
        width: 50%;
        font-size: 110%;
        left: 5%;
        bottom: 150px;
    }
    .subtitle {
        width: 50%;
        font-size: 80%;
        left: 5%;
        bottom: 80px;
    }
/* latest news */
    .row {
        display: flex;
        flex-direction: column;
    }
}
/*  GalaxyS8 Portrait Mode : 412x718 */
@media only screen and (min-width: 400px) {
    .mainTitle {
        width: 60%;
        font-size: 160%;
        left: 5%;
        bottom: 50%;
    }
    .subtitle {
        width: 50%;
        font-size: 80%;
        left: 5%;
        bottom: 35%;
    }
/* advocacy campaigns */
/* latest news */
    .row {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 500px) {
    figure.column {
        margin: 0%;
    }
}
@media only screen and (min-width: 500px) {
    .mainTitle {
        width: 50%;
        font-size: 170%;
    }
    .subtitle {
        width: 50%;
        font-size: 100%;
        bottom: 38%;
    }
    figcaption {
        font-size: 16px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mainTitle {
        width: 45%;
        padding: 0.5% ;
        font-size: 175%;
        left: 15%;
    }
    .subtitle {
        width: 45%;
        padding: 0.5% ;
        font-size: 120%;
        left: 15%;
        bottom: 35%;
    }
    .row {        
        display: block;
    }
    .story {
        width: 30%;
        float: left;
    }
}
/* Medium devices (landscape tablets, 768px and up) 
Galaxy S8+ Landscape: 798px X 332px
Microsoft Surface Portrait: 912px X 1225px */
@media screen and (min-width: 768px) { 
    .mainTitle {
        width: 35%;
        left: 20%;
    }
    .subtitle {
        width: 35%;
        left: 20%;
    }
/* advocacy campaigns */
    .advocacyCampaigns {
        display: flex;
    }
    .column  {
        width: 50%;
    }
/* latest news */
    .story {
        width: 35%;
    }
}
/* Medium devices (landscape tablets, 944px and up .. 912px is portrait for the surface) */
@media only screen and (min-width: 992px) {
    .mainTitle {
        width: 30%;
        font-size: 200%;
        left: 25%;
    }
    .subtitle {
        width: 30%;
        font-size: 130%;
        left: 25%;
    }
/* -----latest news----- */
    .story {
        width: 35%;
    }
}
/* Microsoft Surface Landscape: 1368px X 769px */
@media only screen and (min-width: 1200px) {
    .mainTitle {
        width: 28%;
        font-size: 220%;
    }
    .subtitle {
        width: 28%;
        font-size: 140%;
        bottom: 33%;
    }
    .story {
        width: 16%;
    }
}
@media only screen and (min-width: 1400px) {
    .mainTitle {
        width: 22%;
    }
    .subtitle {
        width: 28%;
        bottom: 33%;
    }
    .story {
        width: 17%;
    }
}
/* Extra large devices (large laptops and desktops, 1500px and up) 
ASUS Laptop ROG Zephyrus M15 Viewport : 1536x721px  */
@media only screen and (min-width: 1500px) {
    .subtitle {
        width: 25%;
        bottom: 33%;
    }
    .story {
        width: 18%;
    }
}