/*/// FOLLOWING CSS PLACES DETAILS
ON TOP OF THE IMAGE ///*/
#mainTitle{
    background-color: rgba(32, 32, 32, 0.275);
    width: 36.5%;
    height: 30px;
    font-size: 36px;
    color: #ffc800;
    position: relative;
    left: 13.5em;
    bottom: 6em;
}
.subtitle{
    background-color: rgba(32, 32, 32, 0.275);
    /* background-color: rgba(32, 32, 32, 0.555); */
    width: 15%;
    font-size: 30px;
    color: white;
    position: relative;
    left: 33em;
    bottom: 11.3em;
}
.topButton { /* button in main img */
    width: 11%;
    height: 30px;
    position: relative;
    bottom: 25em;
    left: 79em;
    background-color: #ffc800;
}
.topButton a {
     color: rgb(0, 43, 170);
     font-size: 18px;
     text-decoration: none;
}
/* /// END INTRO SECTION /// */


#petitionDescription {
    /* border: solid; */
    margin: 0 0 0% 0;
    padding: 5% 0;
    background-color: rgba(226, 229, 38, 0.48);

}
.description {
    width: 80%;
    margin-left: 10%;
}


button {
    width: 11%;
    height: 30px;
    margin-top: 1em;
    position: relative;
    left: 79em;
    background-color: #ffc800;
}
button a {
    color: rgb(0, 43, 170);
    font-size: 18px;
    text-decoration: none;
}
button:hover {
    background-color: rgb(0, 43, 170); 
    text-decoration: none;
}
button a:hover {
    color: white;
}



/* MEDIA QUERIES 
-------------------------------*/
/* portrait mode for galaxyS8 */
@media only screen and (min-width: 400px) {
    .introSection figure{
        width: 100%;
        margin: 0%;
    }
    #mainTitle{
        width: 75%;
        font-size: 26px;
        left: 15%;
        bottom: 240px;
    }
    .subtitle {
        width: 35%;
        font-size: 17px;
        left: 20%;
        bottom: 250px;
    }
    .topButton {
        font-size: 17px;
        width: 20%;
        height: 10%;
        left: 60%;
        bottom: 320px;
    }
    /* description */
    h1 {
        margin: 1%;
    }
    button {
        width: 20%;
        height: 10%;
        left: 60%;
    }
}
@media only screen and (min-width: 500px) {
    #mainTitle{
        width: 75%;
        font-size: 26px;
        left: 24%;
        bottom: 240px;
    }
    .subtitle {
        width: 35%;
        font-size: 17px;
        left: 26%;
        bottom: 260px;
    }
    .topButton {
        font-size: 17px;
        width: 20%;
        height: 10%;
        left: 60%;
        bottom: 320px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #mainTitle{
        font-size: 30px;
        width: 75%;
        left: 28%;
        bottom: 240px;
    }
    .subtitle {
        font-size: 18px;
        left: 30%;
        bottom: 260px;
    }
    .topButton {
        width: 15%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    #mainTitle{ 
        font-size: 30px;
        left: 30%;
        bottom: 240px;
    }
    .subtitle{ 
        width: 20%;
        font-size: 18px;
        left: 33%;
        bottom: 260px;
    }
    .topButton {
        width: 15%;
        left: 60%;
        bottom: 320px;
    }
    /* bottom button */
    button {
        width: 15%;
        left: 70%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p {
        font-size: 20px;
    }
    #mainTitle {
        font-size: 36px;
        left: 35%;
    }
    .subtitle {
        font-size: 20px;
        left: 38%;
    }
    .topButton {
        width: 12%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p {
        font-size: 22px;
    }
    #mainTitle {
        font-size: 36px;
        left: 35%;
    }
    .subtitle {
        font-size: 26px;
        left: 38%;
    }
    .topButton {
        left: 55%;
        width: 12%;
    }
}
@media only screen and (min-width: 1400px) {
    p {
        font-size: 24px;
    }
    #mainTitle {
        width: 29%;
        /* font-size: 36px; */
        left: 35%;
    }
    .subtitle {
        font-size: 24px;
        left: 38%;
    }
    .topButton {
        width: 12%;
    }
}
@media only screen and (min-width: 1500px) {
    p {
        font-size: 26px;
    }
    #mainTitle {
        width: 29%;
        font-size: 38px;
        left: 40%;
    }
    .subtitle {
        font-size: 26px;
        left: 41%;
    }
    .topButton {
        width: 10%;
    }
}