/* petition section */
#petitionDescription {
    background-color: rgba(226, 229, 38, 0.48);
    margin: 0 0 0% 0;
    padding: 5% 0;
}


/* MEDIA QUERIES 
-----------------------------------------------------*/
/* Devices smaller the 400px */
@media only screen and (max-width: 400px) {
    .mainTitle {
        width: 50%;
        font-size: 110%;
        bottom: 50%;
    }
    .subtitle {
        width: 50%;
        bottom: 30%;
    }
    .topButton {
        position: absolute;
        text-decoration: none;
        width: 19%;
        left: 30%;
        bottom: 45%;
    }
    button { 
        width: 23%; 
        margin: 0 40%; /* This centers the buttons*/ 
        background-color: #ffc800;
        font-size: 14px;
    }

}
/*  GalaxyS8 Portrait Mode : 412x718 */
@media only screen and (min-width: 400px) {
    .mainTitle {
        width: 50%;
        font-size: 120%;
        bottom: 50%;
    }
    .subtitle {
        width: 35%;
        bottom: 35%;
    }
    .topButton {
        position: absolute;
        text-decoration: none;
        width: 19%;
        left: 20%;
        bottom: 45%;
    }
    button { 
        margin: 0 40%; /* This centers the buttons*/ 
        background-color: #ffc800;
        width: 20%; 
        font-size: 15px;
        padding: 2%;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) {
    .mainTitle {
        width: 70%;
        font-size: 170%;
    }
    .subtitle {
        width: 40%;
        bottom: 40%;
    }
    .topButton {
        width: 20%;
        left: 20%;
        bottom: 35%;
    }
    button { 
        margin: 0 37%; /* This centers the buttons*/ 
        width: 25%; 
        font-size: 15px;
        padding: 2%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mainTitle {
        font-size: 175%;
    }
    .subtitle {
        width: 35%;
    }
    .topButton {
        width: 17%;
        height: 10%;
        padding: 0%;
        left: 20%;
    }
}
/* Medium devices (landscape tablets, 768px and up) 
    GalaxyS8 Landscape Mode : 798x332px 
    Sureface Portrait Mode : 912x1225px */
@media screen and (min-width: 768px) { 
    .mainTitle {
        width: 50%;
        font-size: 180%;
    }
    .subtitle{ 
        width: 25%;
    }
    .topButton {
        width: 13%;
        padding: 0%;
    }
    button {
        font-size: 17px;
        margin: 0 40%; /* This centers the buttons*/ 
        width: 17%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mainTitle {
        width: 50%;
        font-size: 180%;
    }
    .subtitle {
        width: 20%;
    }
    .topButton {
        width: 9%;
    }
    button {
        width: 14%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) 
    Surface Landscape Mode : 1368x769px */
@media only screen and (min-width: 1200px) {
    .mainTitle {
        font-size: 200%;
        width: 35%; 
    }
    .subtitle {
        width: 17%;
    }
    button {
        width: 12%;
        height: 50px;
        padding: 0%;
    }
}
@media only screen and (min-width: 1400px) {
    .mainTitle {
        width: 30%;
    }
    .subtitle {
        width: 15%;
    }
    .topButton {
        width: 8%;
    }
    button {
        width: 11%;
    }
}
/* ASUS Laptop ROG Zephyrus M15 : 1536x721px  */
@media only screen and (min-width: 1500px) {
    .subtitle {
        width: 13%; 
    }
}