/* VIDEO TESTIMONIES
------------------- */
.videoTestimony {
    padding: 2%;
}
/* WRITTEN TESTIMONIES 
----------------------*/
.writtenTestimonies {
    padding: 2%;
}
.noFilter { /*// PERSONA IMAGE IN WRITTEN TESTIMONIES //*/
    filter: none;
}
/* /testimoniesCSS */
/* OTHER WAYS TO GET INVOLVED 
 JOIN US 
 ----------------------------*/
#join { /* SPAN:JOIN US */
    font-weight: bold;
    color: red;
}
li {
    margin: 1%;
}

/* MEDIA QUERIES 
-----------------------------------------------------*/
/* Devices smaller the 400px, Mobiles */
@media only screen and (max-width: 400px) {
    .mainTitle {
        width: 50%;
        font-size: 110%;
        left: 10%;
        bottom: 50%;
    }
    .subtitle {
        width: 50%;
        font-size: 80%;
        left: 10%;
        bottom: 30%;
    }
    .sub2 {
        font-size: 80%;
        left: 10%;
        bottom: 20%;
    }
    .topButton {
        position: absolute;
        text-decoration: none;
        width: 19%;
        left: 30%;
        bottom: 45%;
    }
    button { /* CSS for both bottom and top button */
        width: 30%;
        margin: 0 40%; /* This centers the button*/ 
        background-color: #ffc800;
        color: black;
        font-size: 14px;
    }
/* video testimonies */
    iframe {
        width: 100%;
    }
/* written testimonies */
    .writtenTestimonies img {
        width: 100%;
        height: 250px;
        margin: 0%;
    }
}
/*  GalaxyS8 Portrait Mode : 412x718 */
@media only screen and (min-width: 400px) {
    .mainTitle {
        width: 50%;
        font-size: 120%;
        left: 10%;
        bottom: 50%;
    }
    .subtitle{ 
        width: 50%;
        font-size: 90%;
        left: 10%;
        bottom: 33%;
    }
    .sub2{
        font-size: 90%;
        width: 25%;
        left: 10%;
        bottom: 23%;
    }
    .topButton {
        position: absolute;
        text-decoration: none;
        width: 19%;
        height: 25%;
        left: 30%;
        bottom: 45%;
    }
    button { /* CSS for both bottom and top button */
        width: 40%;
        margin: 0 33%;
        background-color: #ffc800;
        color: black;
        font-size: 15px;
    }
/* video testimonies */
    iframe{
        width: 100%;
    }
/* wrtten testimonies */
    .writtenTestimonies img {
        width: 100%;
        margin: 0%;
    }
}
@media only screen and (max-width: 500px) {
    figure.column {
        margin: 0%;
    }
}
@media only screen and (min-width: 500px) {
    .introSection figure{
        width: 100%;
        margin: 0%;
    }
    .mainTitle {
        width: 75%;
        font-size: 170%;
    }
    .subtitle , .sub2 {
        font-size: 120%;
        left: 10%;
    }
    .subtitle{ 
        width: 65%;
        bottom: 43%;
    }
    .sub2{
        width: 25%;
        bottom: 35%;
    }
    .topButton {
        width: 20%;
        height: 15%;
        left: 20%;
        bottom: 25%;
    }
    button { 
        width: 28%;
    }
    .topButton a {
         font-size: 16px;
    }
/* video testimonies */
    figure.column {
        width: 75%;
    }
    .column {
        width: 100%;
        padding: 1%;
    }
    .column p {
        width: 100%;
    }
/* wrtten testimonies */
    .writtenTestimonies img {
        width: 100%;
        height: 250px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .mainTitle{
        width: 65%;
        font-size: 175%;
        left: 20%;
    }
    .subtitle , .sub2 {
        font-size: 125%;
        left: 20%;
    }
    .subtitle{
        width: 60%;
        bottom: 43%;
    }
    .sub2{
        width: 13%;
        bottom: 35%;
    }
    .topButton {
        width: 15%;
        height: 10%;
        left: 20%;
        bottom: 33%;
    }
    button {
        margin: 0 40%;
        width: 20%;
    }
/* testimonies columns */
    .column {
        width: 100%;
    }
    .column p {
        width: 100%;
    }
/* written testimonies */
    .writtenTestimonies img {
        width: 100%;
        height: 250px;
    }
}
/* Medium devices (landscape tablets, 768px and up) 
Galaxy S8+ Landscape: 798px X 332px
Microsoft Surface Portrait: 912px X 1225px */
@media screen and (min-width: 768px) { 
    .topButton {
        width: 15%;
        height: 10%;
    }
    button {
        width: 15%;
        font-size: 17px;
    }
/* video testimony  */
    .videoTestimony {
        margin: 1% 0;
        padding: 0%;
        display: flex;
    }
    .videoTestimony .column {
        width: 100%;
    }
/* written testimonies */
    .writtenTestimonies {
        display: block;
    }
    figure.column {
        width: 30%;
        float: left;
    }  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    iframe.column {
        margin: 0%;
    }
    .subtitle , .sub2 {
        left: 30%;
    }
    .mainTitle{ 
        width: 50%;
        font-size: 180%;
        left: 30%;
    }
    .subtitle{ 
        width: 50%;
    }
    .sub2 {
        width: 19%;
    }
    .topButton {
        width: 13%;
        height: 10%;
    }
}
/* Microsoft Surface Landscape: 1368px X 769px */
@media only screen and (min-width: 1200px) {
    .topButton {
        width: 10%;
        height: 10%;
    }
    button {
        width: 12%;
    }
}
@media only screen and (min-width: 1400px) {
    .mainTitle{ 
        font-size: 190%;

    }


}
/* Extra large devices (large laptops and desktops, 1500px and up) 
ASUS Laptop ROG Zephyrus M15 Viewport : 1536x721px  */
@media only screen and (min-width: 1500px) {
    .topButton {
        width: 8%;
        height: 10%;
    }
    button {
        width: 10%;
    }
}