/*FOLLOWING CSS PLACES DETAILS
ON TOP OF THE IMAGE 
///////////////////*/
#mainTitle{
    background-color: rgba(32, 32, 32, 0.192);
    font-size: 50px;
    color: #ffc800;
    position: relative;
    bottom: 6em;
    left: 10.9em;
}
.subtitle{
    background-color: rgba(32, 32, 32, 0.192);
    font-size: 25px;
    color: white;
    position: relative;
    bottom: 12.5em;
    left: 26em;
}
.sub2{
    background-color: rgba(32, 32, 32, 0.192);
    color: white;
    position: relative;
    bottom: 13em;
    left: 27em;
}
.topButton { /* button in main img */
    width: 11%;
    height: 30px;
    position: relative;
    bottom: 24em;
    right: 8em;
    background-color: #ffc800;
}
.topButton a {
     color: rgb(0, 43, 170);
     font-size: 18px;
     text-decoration: none;
} 
/*  /introSection>  */

/*/// TESTIMONIES SECTION CSS ///*/
/*// VIDEO TESTIMONIES //*/
.videoTestimony {
    padding:  5% ;
    background-color: rgba(226, 229, 38, 0.48);
}
.videoTestimony p{
    width: 45%;
}
iframe {
    margin-right: 15%;
    margin-left: 4%;
}
.column {
    float: left;
    width: 33.33%;
    margin: 2%;
}
/*/// WRITTEN TESTIMONIES ///*/
.writtenTestimonies {
    padding: 0 5% 2% 5%;
    background-color: rgba(255, 184, 2, 0.62);
}
.noFilter { /*// PERSONA IMAGE IN WRITTEN TESTIMONIES //*/
    filter: none;
    width: 50%;
    height: 350px;
    margin: 15% 0 0 25%;
}
/*/// END TESTIMONIES CSS ///*/

/* OTHER WAYS TO GET INVOLVED 
 JOIN US 
 ----------------------------*/
.row {
    margin: 0;
    padding: 5%;
    background-color: rgba(226, 229, 38, 0.48);
}
#join { /* SPAN:JOIN US */
    font-weight: bold;
    color: red;
}
li {
    margin: 1%;
}
button {
    margin-left: 60%;
    margin-top: 5%;
    width: 35%;
    height: 30px;
    font-size: 18px;
    background-color: #ffc800;
}
button a {
    text-decoration: none;
    color: rgb(0, 43, 170);
}
button:hover {
    background-color: rgb(0, 43, 170); 
    text-decoration: none;
}
button a:hover {
    color: white;
}

/* MEDIA QUERIES 
-----------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* introSection  mobile CSS */
    .introSection figure{
        width: 100%;
        margin: 0%;
    }
    #mainTitle{ 
        width: 70%;
        font-size: 26px;
        line-height: 100%;
        left: 15%;
        bottom: 290px;
    }
    .subtitle{ 
        width: 50%;
        font-size: 17px;
        left: 34%;
        bottom: 310px;
    }
    .sub2{
        font-size: 17px;
        width: 25%;
        left: 34%;
        bottom: 320px;
    }
    .topButton { 
        font-size: 16px;
        width: 25%;
        height: 10%;
        right: 7%;
        bottom: 385px;
    }
    .topButton a {
         font-size: 16px;
    }
    /* testimonies */
    .column {
        width: 100%;
        padding: 1%;
    }
    .column p {
        width: 100%;
    }
    /* wrtten testimonies */
    .writtenTestimonies img {
        width: 100%;
        margin: 0%;
    }
    /* bottom button */
    #share {
        font-size: 17px;
        width: 30%;
        height: 10%;
        bottom: 18.1em;
        right: 2.5em;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #mainTitle{
        width: 70%;
        font-size: 30px;
        left: 10%;
        bottom: 300px;
    }
    .subtitle{
        width: 55%;
        font-size: 18px;
        left: 35%;
        bottom: 320px;
    }
    .sub2{
        width: 20%;
        font-size: 18px;
        position: relative;
        left:35%;
        bottom: 330px;
    }
    .topButton { /* button in main img */
        width: 30%;
        height: 10%;
        font-size: 16px;
        right: 9%;
        bottom: 400px;
    }
    /* testimonies columns */
    .column {
        width: 100%;
    }
    .column p {
        width: 100%;
    }
    /* written testimonies */
    .writtenTestimonies img {
        width: 100%;
        margin: 0% ;
    }
    /* Bottom button */
    #share {
        width: 25%;
        height: 10%;
        left: 1em;
        bottom: 2em;
    }
   
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    #mainTitle{ 
        width: 55%;
        font-size: 30px;
        left: 26%;
        bottom: 300px;
    }
    .subtitle{ 
        width: 40%;
        font-size: 18px;
        left: 43%;
        bottom: 320px;
    }
    .sub2 {
        width: 19%;
        font-size: 18px;
        left: 43%;
        bottom: 330px;
    }
    .topButton {
        width: 21%;
        height: 10%;
        right: 6%;
        bottom: 410px;
    }
    /* bottom button */
    #share {
        width: 60%;
        position: relative;
        margin-left: 0;
        bottom: 0em;
    }
    /* testimonies section
    --------------------- */
    .videoTestimony iframe{
        margin: 5% 0;
    }
    .column { 
        width: 40%;
        padding: 0 0 0 3%;
    }
    .column p {
        font-size: 16px;
    }
    .writtenTestimonies img {
        float: left;
        height: 35%;
        width: 35%;
        margin: 0% 5%;
    }  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p {
        font-size: 20px;
    }
    .column {
        width: 45%;
        margin: 0;
    }
    iframe.column {
        margin: 0%;
    }
    .column p{
        font-size: 20px;
    }
    .column img{
        margin: 0 0 0 25%;
    }
    #mainTitle{ 
        width: 50%;
        font-size: 36px;
        left: 26%;
        bottom: 320px;
    }
    .subtitle{ 
        width: 50%;
        font-size: 20px;
        left: 45%;
        bottom: 350px;
    }
    .sub2 {
        width: 19%;
        font-size: 20px;
        left: 45%;
        bottom: 360px;
    }
    .topButton {
        width: 18%;
        padding: 0.3% 1%;
        right: 5%;
        bottom: 460px;
    } 
    h1 {
        font-size: 32px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #mainTitle{ 
        width: 55%;
        font-size: 36px;
        left: 28%;
        bottom: 320px;
    }
    .subtitle{ 
        width: 50%;
        font-size: 26px;
        left: 39%;
        bottom: 350px;
    }
    .sub2 {
        width: 19%;
        font-size: 26px;
        left: 39%;
        bottom: 360px;
    }
    .topButton {
        width: 15%;
        padding: 0.3% 1%;
        right: 8%;
        bottom: 470px;
    }    
}
@media only screen and (min-width: 1400px) {
    #mainTitle{ 
        left: 30%;
        bottom: 330px;
    }
    .subtitle{ 
        width: 40%;
        left: 40%;
        bottom: 13.5em;
    }
    .sub2 {
        left: 40%;
        bottom: 13.5em;
    }
    .topButton {
        width: 15%;
        right: 8%;
        bottom: 470px;
    }
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 24px;
    }
    .column p{
        font-size: 24px;
    }
}
@media only screen and (min-width: 1500px) {
    #mainTitle{
        left: 35%;
    }
    .subtitle {
        left: 45%;
        bottom: 370px;
    }
    .sub2 {
        left: 45%;
        bottom: 370px;
    }
    .topButton {
        right: 8%;
        bottom: 515px;
    }
}