/* This style sheet has the media queries for the stories.html
this will mainly adjust the width and placement of the text  
that is on top of the intro image, or the image after the header.
it will adjust the placement for the top button and position the bottom one in the center.
it will have to make the columns responive deoending on the screen size,
larger devices will see two to four columns in a row and smaller will see one column */

/* VIDEO TESTIMONIES
------------------- */
.videoTestimony {
    padding: 2%;
}
/* WRITTEN TESTIMONIES 
----------------------*/
.writtenTestimonies {
    padding: 2%;
}
.noFilter { /* PERSONA IMAGE will have no greyscale filter like intro images */
    filter: none;
}
/* OTHER WAYS TO GET INVOLVED 
 JOIN US 
 ----------------------------*/
#join { /* SPAN:JOIN US */
    font-weight: bold;
    color: red;
}
li {
    margin: 1%;
}

/* MEDIA QUERIES 
-----------------------------------------------------*/
@media only screen and (max-width: 400px) {
    /* CSS for device screens smaller than 400px */
    .mainTitle {
        width: 200px;
        font-size: 110%;
        left: 20%;
        bottom: 150px;
    }
    .subtitle {
        width: 240px;
        font-size: 80%;
        left: 20%;
        bottom: 120px;
    }
    .sub2 {
        font-size: 80%;
        left: 20%;
        bottom: 90px;
    }
    .topButton {
        position: absolute;
        text-decoration: none;
        left: 0;
        bottom: 70px;
    }
    button { /* CSS for both bottom and top button */
        width: 30%;
        margin: 0 40%; /* This centers the button*/ 
        background-color: #ffc800;
        color: black;
        font-size: 14px;
    }
/* video testimonies */
    iframe {
        width: 100%;
    }
/* written testimonies */
    .writtenTestimonies img {
        width: 100%;
        height: 250px;
        margin: 0%;
    }
}
@media only screen and (min-width: 400px) {
    /* CSS for screens of 400px and up. will end when the next media query starts. */
    /* reference - GalaxyS8 Portrait Mode : 412x718 */
    button { /* CSS for both bottom and top button */
        width: 30%;
        margin: 0 33%;
        background-color: #ffc800;
        color: black;
        font-size: 14px;
    }
    .mainTitle {
        width: 240px;
        font-size: 110%;
        left: 20%;
        bottom: 150px;
    }
    .subtitle {
        width: 240px;
        font-size: 80%;
        left: 20%;
        bottom: 120px;
    }
    .sub2 {
        font-size: 80%;
        left: 20%;
        bottom: 90px;
    }
    .topButton {
        position: absolute;
        text-decoration: none;
        width: 19%;
        left: 10%;
        bottom: 25%;
    }
/* video testimonies */
    iframe{ /*video and description will be in one column*/
        width: 100%;
    }
/* wrtten testimonies */
    .writtenTestimonies img { /*on smaller devices the image will be the sidth of the screen*/
        width: 100%;
        margin: 0%;
    }
}
@media only screen and (min-width: 500px) {
    /* CSS for screens of 500px and up. will end when the next media query starts. */
    .introSection figure{
        margin: 0%;
    }
    .mainTitle {
        left: 20%;
        font-size: 115%;
    }
    .subtitle , .sub2 {
        left: 20%;
        font-size: 85%;
    }
    button { 
        width: 28%;
    }
    .topButton {
        width: 20%;
        bottom: 25%;
    }
    .topButton a {
         font-size: 16px;
    }
/* video testimonies */
    figure.column {
        width: 75%;
    }
    .column {
        width: 100%;
        padding: 1%;
    }
    .column p {
        width: 100%;
    }
/* wrtten testimonies */
    .writtenTestimonies img {
        width: 100%;
        height: 250px;
    }
}
  @media only screen and (min-width: 600px) {
    /* CSS for screens of 400px and up. will end when the next media query starts. */
    /* Small devices (portrait tablets and large phones, 600px and up) */
    .mainTitle{
        width: 310px;
        font-size: 170%;
    }
    .subtitle , .sub2 {
        font-size: 100%;
    }
    .subtitle{
        width: 310px;
    }
    .topButton {
        width: 100px;
    }
    button {
        margin: 0 40%;
        width: 20%;
    }
/* testimonies columns */
    .column {
        width: 100%;
    }
    .column p {
        width: 100%;
    }
/* written testimonies */
    .writtenTestimonies img {
        width: 100%;
        height: 250px;
    }
}
@media screen and (min-width: 768px) { 
   /* CSS for screens of 768px and up. will end when the next media query starts. */
    /* Medium devices (landscape tablets, 768px and up) */
    /* for reference - Galaxy S8+ Landscape: 798px X 332px
    Microsoft Surface Portrait: 912px X 1225px */
    button {
        width: 15%;
        font-size: 17px;
    }
/* video testimony  */
    .videoTestimony { /* video and description sit side by side instead of being one column*/
        margin: 1% 0;
        padding: 0%;
        display: flex;
    }
    .videoTestimony .column {
        width: 100%;
    }
/* written testimonies */
    figure.column { 
        /*places the image to the left of the text as well as 
        allows for the text to wrap around the image*/
        width: 200px;
        float: left;
    }  
}
@media only screen and (min-width: 992px) {
    /* CSS for screens of 992px and up. will end when the next media query starts. */
    /* Medium devices (landscape tablets, 944px and up .. 
    reference - 912px is portrait for the microsoft surface) */
    .mainTitle{ 
        width: 330px;
        font-size: 180%;
        padding: 10px 0;
    }
    .subtitle{ 
        width: 270px;
    }
}
@media only screen and (min-width: 1200px) {
    /* CSS for screens of 1200px and up. will end when the next media query starts. */
    /* reference - Microsoft Surface Landscape: 1368px X 769px */
    button {
        width: 12%;
    }
}
@media only screen and (min-width: 1400px) {
    /* CSS for screens of 1400px and up. will end when the next media query starts. */
    .mainTitle{
        width: 340px; 
        font-size: 190%;
    }
}
@media only screen and (min-width: 1500px) {
    /* CSS for screens of 1500px and up. */
    /* Extra large devices (large laptops and desktops, 1500px and up)*/
    /* refernece - ASUS Laptop ROG Zephyrus M15 : 1536x721px  */
    button {
        width: 10%;
    }
}