 header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
} 
body {
    font-size: 16px;
    line-height: 1.5em;
    background-color: white;
}
#wrappper {
    width: 100%;
    margin: 0 auto;
}

/*/// INTRO SECTION ///*/
.introSection {
    overflow: hidden;
    /* border: solid; */
    /* background-image: url(images/86thNewElvator.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    padding: 0 0 5% 0;
    /* height: 550px; */

}
.introSection video{
    width: 100%;
    height: 450px;
    /* filter: grayscale(70%); */
}
/* SECTION CSS */
/* .introSection {
    width: 20%;
    height: 20%;
    border: solid;
} */
video{
    position: relative;
}
section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    /* border: solid ; */
    margin: 0;
}
.mainTitle{
    font-size: 50px;
    color: #ffc800;
    position: relative;
    bottom: 6em;
    left: 10.9em;
}
h1 {
    padding: 2%;
    margin: 2% 0 0 5%;
    text-decoration: underline;
    font-size: 28px;
}
#missionStatement {
    background-color: rgba(226, 229, 38, 0.48);
    padding: 2em 15%;
    margin: 0;
}
#whoWeAre {
    background-color: rgba(255, 184, 2, 0.62);
    padding: 2em 15%;
    margin: 0;
}
#tellUs {
    color: red;
    font-weight: bold;
}
#contact {
    color: black;
    font-weight: normal;
}
#contactEmail {
    color: black;
    font-weight: normal;
}
#questions {
    font-weight: lighter;
}
q {
    font-family: Arial, Helvetica, sans-serif;
}
/* END SECTION CSS */



/*** FOOTER ***/
footer {
    background-color: #1F68BD;
    text-align: center;
    padding: 1%;
    font-size: 18px;
}
footer ul {
    margin: 0 10%;
    display: inline-flex;
    width: 25%;
    list-style-type: none;
}
footer ul li {
    display: block;
    padding: 0 2%;
}    
    
footer a {
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: yellow;
    color: black;
    text-decoration: underline;
}
h2 a {
    text-decoration: none;
    color: blue;

}
h2 a:hover {
    color: black;
    text-decoration: underline;
}
/*** END FOOTER ***/






figcaption{
    margin: 10 0 10 0;
    font-weight: bold;
    font-size: 100%;
} 



/* 
if the width goes below 500px
the images will stack on top of eachother
*/

/* mobile */
@media screen and (max-width: 767px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .column {
        flex: 50%;
        padding: 10px;
        /* margin: 1em;  */
        /* padding: 10% 10%; */
        /* align-items: center; */
    }  
    h2, h3 {
        max-width: 100%;
        text-align: left;
        padding: 5% 0 0 5%;
        margin: 1em;
        /* margin-top: 1em; */
    }
    p {
        padding: 2em;
    }
   
}
/* tablet */
@media screen and (min-width: 768px) and (max-width:1023px) {
    
}
/* desktop */
@media screen and (min-width: 1024px) {

}

