 /* This style sheet holds all the common CSS properties and media queries needed for all HTML's
 this includes CSS for the intro images and text positioned over the image,
 yellow and tang section, and footer 
 also media queries to make the nav bar responsive */

 header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
} 
body {
    font-size: 16px;
    line-height: 1.5em;
    background-color: white;
}
#wrapper {
    width: 100%;
}
/* Intro section on each page
-----------------------------*/
.introSection  {
    position: relative;
}
.introSection figure{
    width: 100%;
    margin: 0%;
}
.introSection img{
    /* this filter allows for the text over the image to be more visible  */
    filter: grayscale(70%);
}
.introSection #mainImg {
    /* homepage image does not need a filter since there is 
    no text like the others */
    filter: none;
}
.mainTitle{
    /* text infront of intro images of pages except the homepage */
    background-color: rgba(32, 32, 32, 0.404);
    color: #ffc800;
    position: absolute; 
}
#mainTitle{
    /* text infront of homepage image */
    background-color: #ffc800d6;
    color: white;
    position: absolute;
    text-transform: uppercase;
    padding: 1%;
}
.subtitle{
    /* font infront of intro images  */
    background-color: rgba(32, 32, 32, 0.404);
    color: white;
    position: absolute;
}
.sub2{
    /* font infront of intro images  */
    background-color: rgba(32, 32, 32, 0.404);
    color: white;
    position: absolute;
}
button:hover {
    background-color: rgb(0, 43, 170); 
    color: rgb(255, 255, 255);
}
/* CSS for sections 
-------------------------------------------------------*/
img, figcaption{
    width: 100%;
}
section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 0;
}
p {
    font-size: 16px;
}
.yellowSection {
    background-color: rgba(226, 229, 38, 0.48);
    padding: 2% 10% ;
}
.tangSection {
    background-color: rgba(255, 184, 2, 0.62);
    padding: 2% 10%;
}
#tellUs {
    color: red;
    font-weight: bold;
}
q {
    font-family: Arial, Helvetica, sans-serif;
}
/* End of CSS for the sections
-----------------------------*/

/* Footer CSS
----------- */
footer {
    background-color: #1F68BD;
    padding: 1%;
}
footer ul {
    list-style-type: none;
}       
footer a {
    color: white;
    text-decoration: none;
}
.footer_item_title {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}
.list {
    color: white;
}
li a:hover {
    background-color: yellow;
    color: black;
    text-decoration: underline;
}
h2 a {
    text-decoration: none;
    color: blue;
}
h2 a:hover {
    color: black;
    text-decoration: underline;
}
/*  /footer  */

/* MEDIA QUERIES 
----------------------------------------------*/
/* navbar media Query makes navbar responsive 
600px and lower, nav menu will collapse into a hamburger menu */
@media screen and (max-width: 600px) {
    .topnav  a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
@media screen and (max-width: 600px) {
    .topnav.responsive {position: -webkit-sticky;
        position: sticky;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive  a {
      float: none;
      display: block;
      text-align: center;
    }
}
@media only screen and (max-width: 400px) {
/* CSS for device screens smaller than 400px */
    .introSection figure{
        width: 100%; /* image fits to screen */
        margin: 0%;
    }
    .mainTitle, .subtitle, .sub2 {
        left: 10%; /* alings all three elements over image */
    } 
    #mainTitle {
        width: 100%;
        height: 15%;
        bottom: 0%;
        padding-top : 5%;
        font-size: 100%;
        text-align: center;
    }
    .subtitle, .sub2 {  /*sub headers are same size*/
        font-size: 80%;
    } 
    h1 {
        font-size: 100%;
    }
    .footer_item {/**/
        width: 90%;
    }
    .footer_item_title { /*aligns title with list items*/ 
        margin-left: 10%;
    }
}
@media only screen and (min-width: 400px) {
    /* CSS for screens of 400px and up. will end when the next media query starts. */
    /* reference - GalaxyS8 Portrait Mode : 412x718 */
    h1 {
        font-size: 160%;
    }
    .mainTitle, .subtitle, .sub2 {
        left: 10%;
    }
    #mainTitle {
        width: 100%; /*aligns the yellow elements edges with the image width*/
        height: 15%;
        bottom: 0%;
        padding-top: 6%;
        font-size: 134%;
        text-align: center;
    }
    #mainTitle h1{ /*style for the font inside the yellow section over the image*/
        height: 150%;
        width: 100%;
    }
    .subtitle, .sub2 {   /*sub headers are same size*/
        font-size: 90%;
    } 
    .footer_item { /*evens out the left and right edges from the screen*/
        width: 90%;
    }
    .footer_item_title {/*aligns title with list items*/ 
        margin-left: 30px;
    }
    footer p{
        text-align: center;
    }
}
@media only screen and (min-width: 500px) {
    /* CSS for screens of 500px and up. will end when the next media query starts. */
      /*adjusted font size for this screen size*/
    .subtitle, .sub2 {   
        font-size: 120%;
    } 
    #mainTitle {
        bottom: 0%;
        font-size: 165%;
    }
    h1 {
        font-size: 170%;
    }
}
@media only screen and (min-width: 600px) {
    /* CSS for screens of 400px and up. will end when the next media query starts. */
    /* Small devices (portrait tablets and large phones, 600px and up) */
    .introSection img{ /*gives white space on the sides of image to keep it from getting distrorted*/
        margin: 1% 10%;
        width: 80%;
        height: 450px;
    }
    .mainTitle, .subtitle, .sub2 { /*aligns these elements across all pages*/
        left: 20%;
    }
    #mainTitle { /*aligns yellow background with the image corners*/
        margin: 1% 10%;
        width: 78%;
        height: 10%;
        bottom: 1%;
        padding-top: 4%;
        font-size: 150%;
    }
    .subtitle, .sub2 {  /*adjusted font size for screen size*/
        font-size: 125%;
    } 
    p {
        line-height: 30px;
    }
    h1 {
        font-size: 175%;
    }
}
@media screen and (min-width: 768px) { 
    /* CSS for screens of 768px and up. will end when the next media query starts. */
    /* Medium devices (landscape tablets, 768px and up) */
    /* for reference - Galaxy S8+ Landscape: 798px X 332px
    Microsoft Surface Portrait: 912px X 1225px */
    .introSection img{
        margin: 1% 15%;
        width: 70%;
    }
    #mainTitle {
        margin: 1% 15%;
        width: 68%;
        height: 10%;
        bottom: 1%;
        padding-top: 3%;
        font-size: 170%;
    }
    .footer_item { /*three footer items will sit on a row instead of a column */
        width: 30%;
        float: left;
    }
    footer p { /*will sit at the bottom of he bage instead of floating with the other items*/
        clear: both;
    }
}
@media only screen and (min-width: 992px) {
    /* CSS for screens of 992px and up. will end when the next media query starts. */
    /* Medium devices (landscape tablets, 944px and up .. 
    reference - 912px is portrait for the microsoft surface) */
    .introSection img{
        margin: 1% 20%;
        width: 60%;
    }
    .mainTitle, .subtitle, .sub2 {
        left: 30%;
    }
    #mainTitle {
        margin: 1% 20%;
        width: 58%;
        padding-top: 2%;
        font-size: 190%;
    }
    p {
        font-size: 18px;
    }
 
}
@media only screen and (min-width: 1200px) {
    /* CSS for screens of 1200px and up. will end when the next media query starts. */
    /* reference - Microsoft Surface Landscape: 1368px X 769px */
    #mainTitle {
        font-size: 230%;
    }
}
@media only screen and (min-width: 1400px) {
    /* CSS for screens of 1400px and up. will end when the next media query starts. */
    p {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1500px) {
    /* CSS for screens of 1500px and up. */
    /* Extra large devices (large laptops and desktops, 1500px and up)*/
    /* refernece - ASUS Laptop ROG Zephyrus M15 : 1536x721px  */
    .introSection img{
        margin: 1% 20%;
        width: 60%;
    }
    p{
        font-size: 22px;
    }
}