/* 
main css
 */
body {
    font-size: 100%;
    margin: 0 15%;
}
fieldset {
    border: none;
    margin: 0%;
}
textarea {
    width: 100%;
}
h1 {
    text-align: center;
}
ul {
    list-style: none;
    padding: 1%;
}
li {
    margin: 1%;
}
a:hover {
    color: red;
}

#container {
    width: 100%;
    /* border: solid; */
}
.required {
    color: red;
}
.instructions {
    font-size: 70%;
    font-style: italic;
}
.share_story { 
    /*submit button*/
    background-color: #ffc800;
    border: none;
    border-radius: 5%;
    box-shadow: 4px 4px 4px #333; /* direction value : downw, right, transparency */
    color: blue;
    padding: 2%;
    float: right;
}
.share_story:hover {
    background-color: rgb(0, 43, 170); 
    color: rgb(255, 255, 255);
}
/* 
The Logic is only.
The type is screen.
The feature: value us max-width: px.
  */
@media only screen and (max-width: 400px) {
    /* Small Mobile Screens styles */
    body {
        margin: 5%;
    }
    .personInfo #firstName, #lastName, #email , #phone   {
        width: 90%;
    }
    fieldset #share_story {
        margin: 1% 33.33% 5% 33.33%;
    }
}

@media only screen and (min-width: 400px)  {
    /* Medium to Large Mobile Screen styles */
    .personInfo {
        display: inline;
    }
    .personInfo label {
        padding: 1% 5% 0 0;
        margin-right: 15%;
    }
    .personInfo input {
        width: 70%;
    }
    .personInfo li {
        margin: 5px;
        display: inline-block;
    }
    #email {
        width: 55%;
    }
}
@media only screen and (min-width: 500px) {
    .personInfo label {
        margin-right: 0%;
        padding: 0%;
    }
    .personInfo input {
        width: 50%;
    }
    .radios {
        display:s inline;
    }
    .radios li {
        display: inline-block;
    }
    .notRadios li {
        display: block;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    body {
       margin: 0 25%;
    }
}